<input type="hidden" 
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

<label for="email">Email:</label><br>
<input type="text"
  name="user[email]"
  id="email"
  value="<%= @user.email %>"
  placeholder="email">

<br>

<label for="password">Password:</label><br>
<input type="password"
  name="user[password]"
  id="password"
  placeholder="password">

<br>

<input type="submit" value="<%= button_text %>">