<a href="#/">&larr;back</a><br>

<form>
  <label for="post-title">Title:</label><br>
  <input type="text" name="title" id="post-title"><br>
  <label for="post-body">Body:</label><br>
  <textarea row=5 col=50 name="body" id="post-body"></textarea><br>
  <input type="submit" value="Post" id="post-form-submit">
</form>